# Mon prémier Notebook
2024

In [2]:
print("hello, world")

hello, world

In [10]:
# Dictionnaire
dic = {
    'id' : 1,
    'nom' : 'Yazid',
    'prenom' : 'Said',
    'age' : 15,
    'villes' : {'Paris','Lyon'},
    'notes' : [10,12,8,7]
}

print(dic)
for key in dic:
    print(dic[key]) # Affiche seulement les valeurs du dictionnaire.

for key in dic:
    print(key) # Affiche seulement les clés du dictionnaire.

print(dic['nom']) # Affiche la valeur du clé nom

# boucle FOR pour les notes du dictionnaires.. (list)
for note in dic['notes']:
    print(note)

{'id': 1, 'nom': 'Yazid', 'prenom': 'Said', 'age': 15, 'villes': {'Paris', 'Lyon'}, 'notes': [10, 12, 8, 7]}
1
Yazid
Said
15
{'Paris', 'Lyon'}
[10, 12, 8, 7]
id
nom
prenom
age
villes
notes
Yazid
10
12
8
7

In [11]:
import random

# Random
def rad(max):
    a = random.randint(0, max)
    b = random.randint(0, max)
    obj = {'n1' : a,'n2' : b, 'somme' : a+b}
    return "La somme de ", obj["n1"]," et ", obj["n2"]," est ", obj["somme"]

print(rad(10))

couleur = ["bleu","jaune","blanche","rouge","vert","#00FFFF"]

print(random.choice(couleur)) # Choisir un élement au hasard d'une séquence(liste)

def aleatoire(bool,list1,min,max): 
    if(bool==True):
        return random.choice(list1)
    else:
        return "Somme est ", random.randint(min,max)

print(aleatoire(False,[1,25,6,7],0,50))

('La somme de ', 8, ' et ', 0, ' est ', 8)
rouge
('Somme est ', 1)

In [13]:
import pandas as pd

datas = pd.read_csv(r"C:\Users\ALI YASSIR\Desktop\Python\api-flask\dataset.csv")
print(datas)

       FacilityID                                      URL  \
0               1      https://toiletmap.gov.au/facility/1
1               2      https://toiletmap.gov.au/facility/2
2               3      https://toiletmap.gov.au/facility/3
3               4      https://toiletmap.gov.au/facility/4
4               5      https://toiletmap.gov.au/facility/5
...           ...                                      ...
23658       62973  https://toiletmap.gov.au/facility/62973
23659       62974  https://toiletmap.gov.au/facility/62974
23660       62975  https://toiletmap.gov.au/facility/62975
23661       62976  https://toiletmap.gov.au/facility/62976
23662       62977  https://toiletmap.gov.au/facility/62977

                                    Name     FacilityType  \
0                    Sandy Beach Reserve  Park or reserve
1                          Point Reserve  Park or reserve
2                   Success Hill Reserve  Park or reserve
3                        Jubilee Reserve  Park or reserve
4                       Ashfield Reserve  Park or reserve
...                                  ...              ...
23658                      Bowling Green  Park or reserve
23659                     Murray Gardens        Rest area
23660           Glenvale Shopping Centre  Shopping centre
23661  Flagstone Village Shopping Centre  Shopping centre
23662          Bomaderry Shopping Centre  Shopping centre

                         Address1        Town State AddressNote   Latitude  \
0           Lost 15525, West Road  Bassendean    WA         NaN -31.921836
1             Lot 197, North Road  Bassendean    WA         NaN -31.904410
2        Lot 2838, Seventh Avenue  Bassendean    WA         NaN -31.896289
3         Lot 6322, Robinson Road   Eden Hill    WA         NaN -31.891474
4      Lot 12061, 2 Coulston Road    Ashfield    WA         NaN -31.913433
...                           ...         ...   ...         ...        ...
23658              Railway Parade  Parramatta   NSW         NaN -33.813870
23659               George Street  Parramatta   NSW         NaN -33.813129
23660           114 Glenvale Road    Glenvale   QLD         NaN -27.563987
23661                6 Gates Road   Flagstone   QLD         NaN -27.809275
23662         320 Princes Highway   Bomaderry   NSW         NaN -34.843569

        Longitude  ...  Ambulant  Accessible LHTransfer  RHTransfer  \
0      115.950206  ...     False        True      False       False
1      115.960991  ...     False        True      False       False
2      115.955781  ...     False        True      False       False
3      115.940164  ...     False       False      False       False
4      115.936477  ...     False        True      False       False
...           ...  ...       ...         ...        ...         ...
23658  150.996823  ...     False        True      False       False
23659  150.998034  ...     False        True      False       False
23660  151.911458  ...     False        True      False       False
23661  152.949954  ...     False        True      False       False
23662  150.595536  ...     False        True      False       False

       ToiletNote  SharpsDisposal  DrinkingWater SanitaryDisposal  \
0             NaN            True           True             True
1             NaN            True           True             True
2             NaN            True           True             True
3             NaN            True          False             True
4             NaN            True           True             True
...           ...             ...            ...              ...
23658         NaN           False          False            False
23659         NaN            True          False            False
23660         NaN            True          False             True
23661         NaN           False          False            False
23662         NaN           False          False            False

       MensPadDisposal  Shower
0                False   False
1                False   False
2                False    True
3                False   False
4                False   False
...                ...     ...
23658            False   False
23659            False   False
23660            False   False
23661            False   False
23662            False   False

[23663 rows x 47 columns]